.item__select_btn {
  flex: 1;
}

.item__select_btn, .item__delete_btn {
  background: transparent;
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.item__delete_btn img {
  width: 20px;
  border: solid;
}
