.bgFixedPos {
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
}

.bgVignette {
  background: radial-gradient(transparent 50%, black);
}

.bgImage {
  background-image: url("./assets/background.jpg");
  filter: blur(10px);
  -webkit-filter: blur(10px);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
  color: white;
  margin: auto;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;

  max-width: 90%;
  max-height: 90%;
  min-width: 70%;
  min-height: 70%;

  padding: 1.5rem 3rem;
  border-radius: 1rem;
  background: rgba(255, 160, 160, 0.6);
}

.left {
  width: 15%;
  height: 80%;
  overflow: auto;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  width: 70%;
  flex: 1;
  min-height: 80%;
}

.textarea {
  width: 15%;
  height: 80%;
  background-color: #111;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 1rem;
  outline: 1.5px red solid;
  resize: none;
  color: white;
  transition: box-shadow .2s;
}

.textarea:hover {
  box-shadow: 0 0 15px red;
}

.textarea::placeholder {
  color: black;
}

/* debug */

/* * {
  border: solid;
} */

/* .left * {
  border: solid;
} */

/* .center * {
  border: solid;
} */
